<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="userServiceImpl" class="proxy.springaop.UserServiceImpl"></bean>
    <bean id="logAspect" class="proxy.springaop.LogAspect"></bean>


    <aop:config proxy-target-class="false">
        <aop:aspect ref="logAspect">
            <aop:before method="printLog" pointcut="execution(* proxy.springaop.UserServiceImpl.findUser())"></aop:before>
        </aop:aspect>
    </aop:config>
</beans>